<%- include("header") -%>

  <div class="box" id="heading">
    <h1> <%= ListHeading %> List </h1>
  </div>

  <div class="box">
    <% for(var i=0; i<newItem.length; i++){ %>
    <div class="item">
      <input type="checkbox" name="" value="">
      <p> <%= newItem[i] %> </p>
    </div>
    <%}%>

    <form class="item" action="/" method="post">
      <input type="text" name="task1" placeholder="Enter New Task " autocomplete="off">
      <button type="submit" name="list" value="<%= ListHeading %>">+</button>
      </form>
  </div>

<%- include("footer") -%>
